*
!*/

!/LICENSE
!/README.md
!/.gitignore
!/options.txt
!/export_config.txt

!cover.py
!/kubejs/**
!/shaderpacks/BSL_v10.0.zip.txt

!config/ftbquests/**

!config/immersiveengineering-client.toml
!config/acceleratedrendering-client.toml
!config/cookingforblockheads-common.toml
!config/integrateddynamics-common.toml
!config/touhou_little_maid-common.toml
!config/constructionstick-server.toml
!config/twilightforest-common.toml
!config/terra_curio-client.toml
!config/embeddium-options.json
!config/ModernUI/client.toml
!config/ftbchunks-client.snbt
!config/ftbquests-client.snbt
!config/create-server.toml
!config/emi.css

!modrinth.index.json
!pack.py

*.html
*.jar
*.log*
