*
!*/

!/LICENSE
!/README.md
!/.github/**
!/.gitignore
!/options.txt
!/CHANGELOG.md
!/export_config.txt

!/tacz/*.zip
!/tacz/cover.py
!/tacz/README.md

!/kubejs/**
/kubejs/README.txt

!/shaderpacks/BSL_v10.0.zip.txt

!config/ftbquests/**

!defaultconfigs/ftbessentials-server.snbt

!config/immersiveengineering-client.toml
!config/immersiveengineering-server.toml
!config/acceleratedrendering-client.toml
!config/cookingforblockheads-common.toml
!config/integrateddynamics-common.toml
!config/touhou_little_maid-common.toml
!config/constructionstick-server.toml
!config/supplementaries-client.toml
!config/shouldersurfing-client.toml
!config/twilightforest-common.toml
!config/terra_curio-client.toml
!config/ftbultimine-client.snbt
!config/ftbultimine-server.snbt
!config/ftblibrary-client.snbt
!config/embeddium-options.json
!config/ftbchunks-world.snbt
!config/ModernUI/client.toml
!config/ftbchunks-client.snbt
!config/ftbquests-client.snbt
!config/solcarrot-server.toml
!config/curios-common.toml
!config/create-client.toml
!config/create-server.toml
!config/rolling_gate.json
!config/xnet-server.toml
!config/xnetgases.toml
!config/fml.toml
!config/emi.css

!modrinth.index.json
!pack-server.py
!title.png
!pack.py
!info.py

*.html
*.jar
*.log*
*test*

!tiabcurio-neoforge-1.21.1-3.0.1.jar
